<!DOCTYPE html>

<html>

<head>
<title> LOGIN PAGE </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css')}}">

</head>

<body background ="{{ url_for('static',filename='poly_purple.jpg')}}"  class="box-form">


<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Diabetic Retinopathy
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="index.html" >Home</a>
      <a href="register.html" >Register</a>
      <a href="logout.html" >Logout</a>

    </div>
  </div>
<div>
<br>
<br>
<br>
</div>
<h1> DIABETIC RETINOPATHY LOGIN </h1>
<div style="text-align: center;">
<form action="login" method="post">
    <div class="right">
<img src="{{url_for('static',filename='directory.png')}}" height="50px" width="50px" alt="this is a image">

<!--<div class="inputs">-->
<!--<p> <input type="text" placeholder="Enter Username" value="{{request.form.username}}" maxlength=30 required><i class="validation"><span></span><span></span></i>-->
<!--</p>-->
<!--<p> <input type="password" placeholder="Enter Password" value="{{request.form.password}}" maxlength=30 required><i class="validation"><span></span><span></span></i></p>-->
<!--</div>-->

    <input type="text" placeholder="Enter Username" name="_id" value="{{request.form._id }}">
     <input type="password" placeholder="Password" name="psw" value="{{request.form.psw }}">



<div class="check">
        <label>
            <input type="checkbox" checked>Remember me
        </label>


</div>
</div>
    <input  type="submit" value="Login" id="submit">
<br/>
    </form>
<br/>
<br/>
<br/>
<br/>
</div>


<div class="check">    
        <label>
            <input type="checkbox" checked>Remember me
        </label>

</div>
</div>
<input type="submit" value="LOGIN" id="submit">
<br/>
</form>
<br/>
<br/>
<br/>
<br/>
</div>
